# 서울시 코로나19 확진자 현황 API

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [16]:
with open('seoul_api_key.txt', mode='r') as key_fd:
    seoulapi_key = key_fd.read(100)

In [31]:
corona_url = 'http://openapi.seoul.go.kr:8088'
type = 'xml'
start_index = 1
end_index = 1000
url = f'{corona_url}/{seoulapi_key}/{type}/Corona19Status/{start_index}/{end_index}'

In [32]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')
resultCode = soup.find('RESULT').find('CODE').get_text()
if resultCode == 'INFO-000':
    list_total_count = int(soup.find('list_total_count').get_text())
    print(list_total_count)
else:
    print(soup.find('RESULT').find('MESSAGE').get_text())

15732

In [21]:
list_total_count = soup.find('list_total_count').get_text()
list_total_count

'15732'

In [33]:
items = soup.find_all('row')

In [34]:
id_list, date_list, no_list, country_list = [],[],[],[]
personal_list, area_list, travel_list, contact_list = [],[],[],[]
corrective_list, status_list, moving_list, idate_list = [],[],[],[]
mdate_list = []
for item in items:
    id_list.append(item.find('CORONA19_ID').string)
    date_list.append(item.find('CORONA19_DATE').string)
    no_list.append(item.find('CORONA19_NO').string)
    country_list.append(item.find('CORONA19_COUNTRY').string)
    personal_list.append(item.find('CORONA19_PERSONAL').string)
    area_list.append(item.find('CORONA19_AREA').string)
    travel_list.append(item.find('CORONA19_TRAVEL_HISTORY').string)
    contact_list.append(item.find('CORONA19_CONTACT_HISTORY').string)
    corrective_list.append(item.find('CORONA19_CORRECTIVE').string)
    status_list.append(item.find('CORONA19_LEAVE_STATUS').string)
    moving_list.append(item.find('CORONA19_MOVING_PATH').string)
    idate_list.append(item.find('CORONA19_IDATE').string)
    mdate_list.append(item.find('CORONA19_MDATE').string)

df = pd.DataFrame({
    '연번':id_list, '확진일':date_list, '환자번호':no_list, '국적':country_list,
    '환자정보':personal_list, '지역':area_list, '여행력':travel_list,
    '접촉력':contact_list, '조치사항':corrective_list, '상태':status_list, 
    '이동경로':moving_list, '등록일':idate_list, '수정일':mdate_list
})
df.tail()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
995,14737,12.20.,None,None,None,구로구,None,타시도 확진자 접촉,None,None,None,2020-12-23 10:56:36,2020-12-23 10:56:36
996,14736,12.20.,None,None,None,마포구,None,기타 확진자 접촉,None,None,None,2020-12-23 10:56:36,2020-12-23 10:56:36
997,14735,12.20.,None,None,None,마포구,None,타시도 확진자 접촉,None,None,None,2020-12-23 10:56:36,2020-12-23 10:56:36
998,14734,12.20.,None,None,None,마포구,None,기타 확진자 접촉,None,None,None,2020-12-23 10:56:36,2020-12-23 10:56:36
999,14733,12.20.,None,None,None,동작구,None,감염경로 조사중,None,None,None,2020-12-23 10:56:36,2020-12-23 10:56:36

### 모든 데이터에 대해 처리

In [35]:
from tqdm import tqdm_notebook

In [40]:
id_list, date_list, no_list, country_list = [],[],[],[]
personal_list, area_list, travel_list, contact_list = [],[],[],[]
corrective_list, status_list, moving_list, idate_list = [],[],[],[]
mdate_list = []
for i in tqdm_notebook(range(1, list_total_count, 1000)):
    start_index = i
    end_index = i+1000-1 if i+1000-1<list_total_count else list_total_count
    url = f'{corona_url}/{seoulapi_key}/{type}/Corona19Status/{start_index}/{end_index}'
    result = requests.get(url)
    soup = BeautifulSoup(result.text, 'xml')
    items = soup.find_all('row')

    for item in items:
        id_list.append(item.find('CORONA19_ID').string)
        date_list.append(item.find('CORONA19_DATE').string)
        no_list.append(item.find('CORONA19_NO').string)
        country_list.append(item.find('CORONA19_COUNTRY').string)
        personal_list.append(item.find('CORONA19_PERSONAL').string)
        area_list.append(item.find('CORONA19_AREA').string)
        travel_list.append(item.find('CORONA19_TRAVEL_HISTORY').string)
        contact_list.append(item.find('CORONA19_CONTACT_HISTORY').string)
        corrective_list.append(item.find('CORONA19_CORRECTIVE').string)
        status_list.append(item.find('CORONA19_LEAVE_STATUS').string)
        moving_list.append(item.find('CORONA19_MOVING_PATH').string)
        idate_list.append(item.find('CORONA19_IDATE').string)
        mdate_list.append(item.find('CORONA19_MDATE').string)

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

In [41]:
df = pd.DataFrame({
    '연번':id_list, '확진일':date_list, '환자번호':no_list, '국적':country_list,
    '환자정보':personal_list, '지역':area_list, '여행력':travel_list,
    '접촉력':contact_list, '조치사항':corrective_list, '상태':status_list, 
    '이동경로':moving_list, '등록일':idate_list, '수정일':mdate_list
})
df.tail()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
15727,5,1.31.,None,None,None,성북구,None,#5 접촉,None,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
15728,4,1.30.,None,None,None,마포구,중국 우한시,해외 접촉,None,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
15729,3,1.30.,None,None,None,종로구,None,#3 접촉,None,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
15730,2,1.30.,None,None,None,중랑구,중국 우한시,해외 접촉,None,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
15731,1,1.24.,None,None,None,강서구,중국 우한시,해외 접촉,None,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10

In [42]:
df.to_csv('covid-seoul.csv')

In [62]:
df = pd.read_csv('covid-seoul.csv')

In [63]:
df['연번'] = df['연번'].astype(int)
df.head()

,Unnamed: 0,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
0,0,15732,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
1,1,15731,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
2,2,15730,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
3,3,15729,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
4,4,15728,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38

In [64]:
df.sort_values('연번', inplace=True)
df.set_index('연번', inplace=True)
df.tail()

,Unnamed: 0,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
연번,,,,,,,,,,,,,
15728,4,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15729,3,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15730,2,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15731,1,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15732,0,12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38

In [65]:
df['확진일'] = '2020.' + df['확진일']
df.tail()

,Unnamed: 0,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
연번,,,,,,,,,,,,,
15728,4,2020.12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15729,3,2020.12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15730,2,2020.12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15731,1,2020.12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15732,0,2020.12.22.,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38

In [66]:
df['확진일'] = pd.to_datetime(df['확진일'])
df.tail()

,Unnamed: 0,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
연번,,,,,,,,,,,,,
15728,4,2020-12-22,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15729,3,2020-12-22,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15730,2,2020-12-22,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15731,1,2020-12-22,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38
15732,0,2020-12-22,NaN,NaN,NaN,기타,NaN,구로구 소재 요양병원 관련,NaN,NaN,NaN,2020-12-23 10:56:38,2020-12-23 10:56:38

In [67]:
df['환자번호'].isna().sum(),df['국적'].isna().sum(),df['환자정보'].isna().sum(),df['조치사항'].isna().sum()

(15732, 15732, 15732, 15732)

In [68]:
df['등록일'].unique()

array(['2020-12-22 10:35:10', '2020-12-22 10:35:11',
       '2020-12-22 10:35:12', '2020-12-22 10:35:13',
       '2020-12-22 10:35:14', '2020-12-22 10:35:15',
       '2020-12-22 10:35:16', '2020-12-22 10:35:17',
       '2020-12-22 10:35:18', '2020-12-22 10:35:19',
       '2020-12-22 10:35:20', '2020-12-22 10:35:21',
       '2020-12-22 10:35:22', '2020-12-22 10:35:23',
       '2020-12-22 10:35:24', '2020-12-22 10:35:25',
       '2020-12-22 10:35:26', '2020-12-22 10:35:27',
       '2020-12-22 10:35:28', '2020-12-22 10:35:29',
       '2020-12-22 10:35:30', '2020-12-23 10:56:27',
       '2020-12-23 10:56:28', '2020-12-23 10:56:29',
       '2020-12-23 10:56:30', '2020-12-23 10:56:31',
       '2020-12-23 10:56:32', '2020-12-23 10:56:33',
       '2020-12-23 10:56:34', '2020-12-23 10:56:35',
       '2020-12-23 10:56:36', '2020-12-23 10:56:37',
       '2020-12-23 10:56:38'], dtype=object)

In [69]:
df['수정일'].unique()

array(['2020-12-22 10:35:10', '2020-12-22 10:35:11',
       '2020-12-22 10:35:12', '2020-12-22 10:35:13',
       '2020-12-22 10:35:14', '2020-12-22 10:35:15',
       '2020-12-22 10:35:16', '2020-12-22 10:35:17',
       '2020-12-22 10:35:18', '2020-12-22 10:35:19',
       '2020-12-22 10:35:20', '2020-12-22 10:35:21',
       '2020-12-22 10:35:22', '2020-12-22 10:58:09',
       '2020-12-23 11:28:36', '2020-12-22 10:35:23',
       '2020-12-22 10:38:23', '2020-12-22 10:57:22',
       '2020-12-22 10:35:24', '2020-12-22 10:35:25',
       '2020-12-22 10:35:26', '2020-12-22 10:35:27',
       '2020-12-22 10:35:28', '2020-12-22 10:35:29',
       '2020-12-23 11:17:50', '2020-12-22 10:35:30',
       '2020-12-23 10:56:27', '2020-12-23 11:28:35',
       '2020-12-23 10:56:28', '2020-12-23 10:56:29',
       '2020-12-23 10:56:30', '2020-12-23 10:56:31',
       '2020-12-23 10:56:32', '2020-12-23 10:56:33',
       '2020-12-23 10:56:34', '2020-12-23 10:56:35',
       '2020-12-23 10:56:36', '2020-12-23 10:56:37',
       '2020-12-23 10:56:38'], dtype=object)

In [70]:
df['이동경로'].unique()

array(['이동경로 공개기간 경과', nan, '집에만 머물러 의미있는 동선 없음', '자가격리중으로 동선없음',
       '관내 의미있는 동선없음',
       '- 이동 시 아래 대중교통 이외에는 지인차 및 도보 이용 - 역학조사 기간중 우리구 동선은 자택 이외에는 없음 - 12.16.(수) 선별진료소에서 코로나19 진단검사 - 가족 진단검사 및 자가격리 실시',
       '- 이동 시 아래 대중교통 이외에는 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 아래 대중교통 이외에는 지인차 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 가족차 및 도보 이용 - 역학조사 기간중 자택 이외에는 우리구내 이동동선이 없음 - 12.16.(수) 성북구보건소 선별진료소에서 코로나19 진단검사 - 가족 및 지인 진단검사 및 자가격리 실시',
       '- 이동 시 자차 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 지인차,자전거 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 지인차 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 아래 대중교통 이외에는 자전거 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       '- 이동 시 지인차 및 도보 이용 - 역학조사 기간중 자택 이외에는 우리구 이동동선이 없음 - 12.16.(수) 씨젠의료재단 선별진료소에서 코로나19 진단검사 - 가족 및 지인 진단검사 및 자가격리 실시',
       '- 이동 시 회사차 및 도보 이용 - 아래 동선 이외에는 자택에 머무름',
       'o 주로 자택에 머물러 의미 있는 동선 없음', '15일부터 집에만 머뭄',
       '주로 자택에 머물러 의미 있는 동선 없음', '자가격리 중으로 동선없음', '병원에서 숙식했으며 동선없음',
       '병원에만 머물러 동선없음'], dtype=object)

In [71]:
df.head()

,Unnamed: 0,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일
연번,,,,,,,,,,,,,
1,15731,2020-01-24,NaN,NaN,NaN,강서구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
2,15730,2020-01-30,NaN,NaN,NaN,중랑구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
3,15729,2020-01-30,NaN,NaN,NaN,종로구,NaN,#3 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
4,15728,2020-01-30,NaN,NaN,NaN,마포구,중국 우한시,해외 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10
5,15727,2020-01-31,NaN,NaN,NaN,성북구,NaN,#5 접촉,NaN,퇴원,이동경로 공개기간 경과,2020-12-22 10:35:10,2020-12-22 10:35:10

In [74]:
df = df[['확진일', '지역', '여행력', '접촉력', '상태', '이동경로']]
df.head()

          확진일   지역     여행력    접촉력  상태          이동경로
연번
1  2020-01-24  강서구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
2  2020-01-30  중랑구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
3  2020-01-30  종로구     NaN  #3 접촉  퇴원  이동경로 공개기간 경과
4  2020-01-30  마포구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
5  2020-01-31  성북구     NaN  #5 접촉  퇴원  이동경로 공개기간 경과

In [75]:
df.to_csv('covid-seoul2.csv')

### 데이터 클렌징

In [93]:
df = pd.read_csv('covid-seoul2.csv')
df.tail()

          연번         확진일  지역  여행력             접촉력   상태 이동경로
15727  15728  2020-12-22  기타  NaN  구로구 소재 요양병원 관련  NaN  NaN
15728  15729  2020-12-22  기타  NaN  구로구 소재 요양병원 관련  NaN  NaN
15729  15730  2020-12-22  기타  NaN  구로구 소재 요양병원 관련  NaN  NaN
15730  15731  2020-12-22  기타  NaN  구로구 소재 요양병원 관련  NaN  NaN
15731  15732  2020-12-22  기타  NaN  구로구 소재 요양병원 관련  NaN  NaN

In [94]:
df['지역'].fillna('기타', inplace=True)
df.fillna(' ', inplace=True)
df.tail()

          연번         확진일  지역 여행력             접촉력 상태 이동경로
15727  15728  2020-12-22  기타      구로구 소재 요양병원 관련
15728  15729  2020-12-22  기타      구로구 소재 요양병원 관련
15729  15730  2020-12-22  기타      구로구 소재 요양병원 관련
15730  15731  2020-12-22  기타      구로구 소재 요양병원 관련
15731  15732  2020-12-22  기타      구로구 소재 요양병원 관련

In [95]:
df['지역'].unique()

array(['강서구', '중랑구', '종로구', '마포구', '성북구', '타시도', '송파구', '서대문구', '성동구',
       '강남구', '서초구', '구로구', '강동구', '은평구', '관악구', '금천구', '노원구', '동작구',
       '양천구', '동대문구', '광진구', '영등포구', '도봉구', '용산구', '강북구', '중구', '기타',
       '서대', '경기도', '제주시', '송파구 ', '강서구 ', '중로구', '노원구 ', '관악구 '],
      dtype=object)

In [96]:
df[df['지역']=='서대']

          연번         확진일  지역 여행력        접촉력 상태 이동경로
13520  13521  2020-12-17  서대      기타 확진자 접촉

In [97]:
df['지역'][13520] = '서대문구'

In [98]:
df['지역'].unique()

array(['강서구', '중랑구', '종로구', '마포구', '성북구', '타시도', '송파구', '서대문구', '성동구',
       '강남구', '서초구', '구로구', '강동구', '은평구', '관악구', '금천구', '노원구', '동작구',
       '양천구', '동대문구', '광진구', '영등포구', '도봉구', '용산구', '강북구', '중구', '기타',
       '경기도', '제주시', '송파구 ', '강서구 ', '중로구', '노원구 ', '관악구 '], dtype=object)

In [100]:
df['지역'] = df['지역'].map(lambda s: s.strip())

In [101]:
df['지역'].unique()

array(['강서구', '중랑구', '종로구', '마포구', '성북구', '타시도', '송파구', '서대문구', '성동구',
       '강남구', '서초구', '구로구', '강동구', '은평구', '관악구', '금천구', '노원구', '동작구',
       '양천구', '동대문구', '광진구', '영등포구', '도봉구', '용산구', '강북구', '중구', '기타',
       '경기도', '제주시', '중로구'], dtype=object)

In [102]:
df[df['지역']=='중로구']

          연번         확진일   지역 여행력 접촉력 상태 이동경로
15612  15613  2020-12-22  중로구      기타

In [107]:
df['지역'][15612] = '종로구'

In [109]:
df['상태'].unique()

array(['퇴원', '사망', ' '], dtype=object)

In [108]:
df.head()

   연번         확진일   지역     여행력    접촉력  상태          이동경로
0   1  2020-01-24  강서구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
1   2  2020-01-30  중랑구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
2   3  2020-01-30  종로구          #3 접촉  퇴원  이동경로 공개기간 경과
3   4  2020-01-30  마포구  중국 우한시  해외 접촉  퇴원  이동경로 공개기간 경과
4   5  2020-01-31  성북구          #5 접촉  퇴원  이동경로 공개기간 경과

In [104]:
df.to_csv('covid-seoul3.csv')

## Database에 저장

In [106]:
import sqlite3
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [113]:
params = [int(df.iloc[0,0])]
params.extend(df.iloc[0,1:])
params

[1, '2020-01-24', '강서구', '중국 우한시', '해외 접촉', '퇴원', '이동경로 공개기간 경과']

In [121]:
sql_table = '''create table if not exists seoul (
  sid integer not null primary key,
  confDay text not null,
  region text not null,
  travelHist text,
  contactHist text,
  status text,
  moving text);
'''
cur.execute(sql_table)
conn.commit()

In [122]:
sql_insert = 'insert into seoul values(?,?,?,?,?,?,?);'
for i in df.index:
    params = [int(df.iloc[i,0])]
    params.extend(df.iloc[i,1:])
    cur.execute(sql_insert, params)
    if i % 100 == 0:
        print(i//100, end=' ')
        conn.commit()
conn.commit()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157

In [123]:
cur.close()
conn.close()